li a {
    color: blue;
}
body {
    background: gray url("images/gray.png")
}

.mangalist {
    padding-top: 15px;
    font-size: 20px;
}

.mangalist img {
    vertical-align:middle;
}

.inline {
    display: inline-block;
    flex-flow: row wrap;
    align-items: center;
}

