# Service Unit to start the Django application automatically at boot in the specified directory 
# and keep it running
[Unit]
Description=uWSGI for Django
After=syslog.target

[Service]
WorkingDirectory=/app/mangalist/mysite
ExecStart=/usr/local/bin/uwsgi --socket :8001 --module mysite.wsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
